.menu {
    width: 450px;
    height: 90vh;

    padding: .5rem;

    background-color: #F2E7DC;
    overflow-x: hidden;
    overflow-y: scroll;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);

    transition: width 3s;

    /* display: none; */
}

.title {
    margin-bottom: 1rem;
}
