.services-2 {
  padding: 2rem;
  text-align: center;
  background-color: #232223;
  color: #F4EEE3;
}

.services-2__container {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.services-2__service {
  flex-grow: 1;
  position: relative;
  width: 20rem;
  height: 20rem;

  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-2__service:hover .services-2__service-overlay,
.services-2__service:hover .services-2__service-description,
.services-2__service:hover .services-2__service-title {
  opacity: 1;
  display: block;
  filter: none;
}

.services-2__service-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

.services-2__title {
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: bold;
  margin: 1rem;
}

.services-2__service-title {
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: bold;
  margin: 1rem;
  z-index: 1;

  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.services-2__description {
  width: 100%;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.services-2__service-description {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  margin: 1rem;
  z-index: 1;
  opacity: 0;
  display: none;
  transition: display 0.5s;
}

.services-2__title,
.services-2__description,
.services-2__service-title,
.services-2__service-description {
  background-color: transparent;
  color: inherit;
  border: none;
  text-align: center;
}

.services-2__title:focus,
.services-2__description:focus,
.services-2__service-title:focus,
.services-2__service-description:focus {
  outline: #F4EEE3 solid 1px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}