.MainButton {
  font-size: clamp(15px, 2vw, 20px);
  padding: .5rem 1.5rem;
  border-radius: 50px;
  height: 40px;
  width: auto;
  align-items: center;
  display: flex;

  color: var(--project-white);
  background-color: var(--project-yellow);
  border: none;
  cursor: pointer;
}