.introduction-6 {
  top: 0;
  height: 100dvh;
  width: 100%;
  background-color: #5A6794;

  display: flex;
  align-items: center;
}

.introduction-6__figure {
  position: relative;
  width: 60%;
  height: 100%;

  background-color:  #8794C0;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  clip-path: polygon(0% 0%, 100% 0, 100% 0%, 65% 100%, 0% 100%);
  transition: 1s;
}

.introduction-6__image {
  min-height: 100%;
}

.introduction-6__input-label {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #F4EEE3;
  transition: background-color 1s;
  cursor: pointer;
}

.introduction-6__input-label:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.introduction-6__image-input {
  display: none;
}

.introduction-6__summary {
  height: 50%;
  width: 40%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: right;
  word-break: break-all;
  padding: 2rem;
  color: #F4EEE3;
}

.introduction-6__title {
  font-size: clamp(3.5rem, 5vw, 5rem);
  transition: 1s;
  font-weight: bold;
}

.introduction-6__slogan {
  font-style: italic;
  letter-spacing: .25rem;
}

.introduction-6__title,
.introduction-6__slogan {
  background-color: transparent;
  color: #F4EEE3;
  border: none;
}

.introduction-6__title:focus
.introduction-6__slogan:focus {
  outline: #F4EEE3 solid 1px;
}

@media screen and (max-width: 860px) {
  .introduction-6 {
    flex-direction: column;
  }

  .introduction-6__figure {
    width: 100%;
    height: 60%;
    clip-path: polygon(0% 0%, 100% 0, 100% 65%, 0% 100%, 0% 100%);
  }
  
  .introduction-6__summary {
    height: 40%;
    width: 100%;
  }
}