.introduction-4 {
  width: 100%;
  height: 100dvh;
  display: flex;
}

.introduction-4__input-label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #F1F1F1;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .5s ease-in-out;
}

.introduction-4__input-label:hover {
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
}

.introduction-4__image-input {
  display: none;
}

.introduction-4__image {
  position: relative;
  width: 70%;
  height: 100%;

  background-color: #212221;
}

.introduction-4__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introduction-4__content {
  width: 30%;
  height: 100%;
  padding: 1rem;
  background-color: #F1F1F1;
  color: #212221;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.introduction-4__focus {
  font-size: clamp(1rem, 4vw, 1.25rem);
  font-weight: 700;
}

.introduction-4__title {
  font-size: clamp(1.5rem, 4vw, 1.95rem);
  font-weight: 700;
}

.introduction-4__cta {
  font-size: clamp(.75rem, 4vw, 1rem);
  color: inherit !important;
  border: none;
  cursor: pointer;

  text-decoration: underline;
  text-underline-offset: .5rem;
  transition: .5s ease-in-out;
}

.introduction-4__focus,
.introduction-4__title,
.introduction-4__cta {
  background-color: transparent;
  border: none;
}

.introduction-4__title:focus,
.introduction-4__focus:focus,
.introduction-4__cta:focus {
  outline: #212221 solid .1rem;
}

.introduction-4__cta:hover {
  letter-spacing: .1rem;
}

@media screen and (max-width: 768px){
  .introduction-4 {
    flex-direction: column;
  }
  
  .introduction-4__content {
    order: 1;
    width: 100%;
    height: 30%;
    gap: .5rem;
  }

  .introduction-4__image {
    order: 2;
    width: 100%;
    height: 70%;
  }
}