.introduction-5 {
  height: 100dvh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212221;
  color: #F4EEE3;
}

.introduction-5__title {
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: 700;
  padding: var(--box-padding);

  background-color: transparent;
  color: #F4EEE3;
  border: none;
  text-align: center;
}

.introduction-5__title:focus {
  outline: #F4EEE3 solid 1px;
}