.footer_draggable_1 {
    width: 100%;
    max-width: 100%;
    float: left;

    padding: 20px;
}

.footer-columns-sect {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-columns-sect > section {
    margin: 1rem;
}

.footer-columns-sect ul {
    margin-left: 1.5rem;
}

.footer-columns-sect a {
    color: inherit;
    text-decoration: none;
    transition: .5s ease-in-out;
}

.footer-columns-sect a:hover {
    color: cyan;
}

.footer-copyright {
    text-align: center;
}

@media screen and (max-width: 480px) {
    .footer-columns-sect {
        flex-direction: column;
    }

    .footer-columns-sect > section {
        width: 100%;
    }

    .footer-copyright {
        text-align: unset;
    }
    
}