.contact-1 {
  background-color: #212221;
  color: #F4EEE3;
  width: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-1__container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.contact-1__title {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  margin-bottom: 1rem;
}

.contact-1__figure {
  width: 10rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-1__icon {
  width: 2rem;
  height: 2rem;
}