.formSection {
    display: flex;
    width: 100%;
    padding: auto;
    padding: 2rem;
}

.dataSection {
    width: 50%;
    height: 100%;
}

.navSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.navButtonsSection {
    display: flex;
}

.returnButton {
    font-size: 1rem;
    margin-right: 10px;
    height: 45px;
    width: max-content;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.title {
    font-size: 1.8rem;
}