.delete-button {
  padding: var(--box-padding);
  background-color: var(--project-blue);
  color: var(--project-white);
  border: none;

  transition: .3s ease-in-out;
  cursor: pointer;
}

.delete-button::after {
  content: 'Eliminar';
  opacity: 0;
  display: none;

  font-weight: bold;
  font-size: 1em;
}

.delete-button:before {
  content: 'X';
}

.delete-button:hover {
  background-color: var(--project-yellow);
}

.delete-button:hover::after {
  opacity: 1;
  display: block;
}

.delete-button:hover:before {
  opacity: 0;
  display: none;
}