.input-image__label {
  position: absolute;
  top: 0;
  left: 0;
  color: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color .5s;
  cursor: pointer;
  color: #F1F1F1;
}

.input-image__label:hover {
  background-color: rgba(0, 0, 0, .5);
}

.input-image__input {
  display: none;
}