.link-input {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  background-color: #212221AA;
  color: #F4EEE3;
  opacity: 0;

  transition: opacity 0.5s;
}

.link-input__label {
  opacity: 0;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.link-input__input {
  opacity: 0;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  color: #F4EEE3;
}

.link-input__input::placeholder {
  color: #F4EEE3;
  text-align: center;
}

.link-input__input:focus {
  outline: #F4EEE3 solid 1px;
}

.link-input:hover,
.link-input:hover .link-input__label,
.link-input:hover .link-input__input {
  opacity: 1;
}