/* styles/ProfessionalHeader.module.css */

.header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.nav {
  display: flex;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navItem {
  margin-left: 1rem;
}

.input {
  max-width: 100px;
  border: none;
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 0.3rem;
}

.navItem:hover {
  color: #007bff;
}
