.cardContainer {
    text-align: center;
    width: 70vw;
    margin: auto;
    margin-bottom: 5rem;
    padding: 5%;

    background-color: white;

    border-radius: 5px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
}

.cardTitle {
    font-size: 1.8rem;
}

.buttonsSection {
    display: flex;
    justify-content: center;

    width: 100%;
}

.paymentMethods {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;

    font-size: 1.5rem;
    color: rgb(131, 131, 131);
}

.cancelButton {
    font-size: clamp(15px, 2vw, 20px);
    padding: .5rem 1.5rem;
    height: 40px;
    width: auto;
    align-items: center;
    display: flex;

    border: none;
    cursor: pointer;
    background-color: unset;
    color: rgb(105, 105, 105);
}