.table {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    width: 100%;
}

.row {
    display: flex;

    font-family: 1.8rem;
    border-bottom: 1px solid rgb(156, 156, 156);
}

.bodyRow:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.benefitsCeld, 
.hasBenefitCeld,
.notHasBenefitCeld {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.notHasBenefitCeld {
    color: rgb(141, 141, 141);
}

.hasBenefitCeld,
.notHasBenefitCeld {
    width: 25%;
}

.benefitsCeld {
    width: 50%;
}
