.selectorsContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 300px;
}

.selected {
    color: var(--project-yellow);
}

.notSelected {
    color: white;
}

.loginDiv {
    background-color: var(--project-blue);
    cursor: pointer;
}

.registerDiv {
    background-color: var(--project-blue);
    cursor: pointer;
}