.background {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.GeneralContainer {
    background-color: var(--project-blue);
    padding: 1rem;
    border-radius: 16px;
    width: 500px;
}

.hidden {
    display: none;
}

.pointsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    color: white;
    background-color: var(--project-white);
    border-radius: 8px;
    height: 10px;
    width: 10px;
    margin: 0.5rem 5px;
    cursor: pointer;
}

.selectedDot {
    color: white;
    background-color: var(--project-yellow);
    border-radius: 8px;
    height: 10px;
    width: 10px;
    margin: 0.5rem 5px;
    cursor: pointer;
}

.loading {
    color: white;
}

/* --------- form styles --------- */

.registerFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--project-yellow);
    background-color: var(--project-blue);
    color: var(--project-white);
    padding: 0.5em;
}

.label {
    margin-top: 1rem;
    color: var(--project-white);
}

.inputsRegisterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
}

.submitbtn {
    margin-top: 1.5rem;
}