.Privacy {
  padding: 1rem 2rem;
}

.Privacy a {
  color: var(--project-yellow);
  font-weight: bold;
}

.Privacy a:hover {
  text-decoration: underline;
}

.Privacy ul,
.Privacy ol {
  margin-top: .5rem;
  margin-left: 1.25rem;
}

.Privacy ol {
  list-style-type: lower-latin;
}

.Privacy__MainTitle {
  font-size: 2rem;
  font-weight: bold;
}